 <div class="example-container mat-elevation-z8">
  <div class="example-header">
    <md-input-container>
      <input mdInput [formControl]="filter" [placeholder]="'Filter ' + simpleDataSource?.length + ' users'">
    </md-input-container>
    <md-slider [min]="2" [max]="5000" [step]="1" [tickInterval]="250" [value]="count" (input)="updateCount($event)"></md-slider>
  </div>

  <md-table #table [trackBy]="trackNodesBy" mdSort [dataSource]="dataSource">

    <ng-container cdkColumnDef="displayName">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Display Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.displayName}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="relCount">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Number of Connections </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.relCount}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="color">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Color </md-header-cell>
      <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div> 