<mat-card>
  <mat-card-title>The application</mat-card-title>
  <mat-card-content>
    <p>
      Angular Performance Playground (APP) was original created to examine the
      performance characteristics of Angular, D3 and SVG. Since then it has
      grown to encompass a varity of performance tests and proof of concepts.
      Ideas captured by APP include:
    </p>
    <ul>
      <li>D3 integration</li>
      <li>service workers</li>
      <li>web workers</li>
      <li>lazy loading</li>
      <li>observable data flow</li>
      <li>semantic use Angular Material</li>
      <li>smart/view component pattern</li>
      <li>trackBy function</li>
      <li>OnPush change detection</li>
      <li>AoT compilation</li>
    </ul>
    <p>Futue aspirations include</p>
    <ul>
      <li>render timing with animation frame</li>
      <li>user controlled application of performance techniques</li>
      <li>additional examples of performance demanding features</li>
      <li>Layout with CSS grid and ng-flex</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <a
      target="tab"
      mat-button
      href="https://github.com/dpsthree/angular-performance-playground/tree/master/src"
    >
      Source Code
      <img src="assets/GitHub-Mark-32px.png" alt="" />
    </a>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>The author</mat-card-title>
  <mat-card-content>
    <p>
      As an instructor and lead curriculum author for Angular Boot Camp, Paul
      Spears has consulted for numerous Fortune 500 companies and trained
      thousands of developers. He currently works as a technical team lead at
      Oasis Digital Solutions Inc. building custom enterprise solutions. Recent
      efforts include building an Apache “big data” integration dashboard and an
      Angular app used to visualize complex business and social relationships.
      Current interests include unique UI/UX design, data visualizations,
      philosophy of education and raising the level of abstraction for front-end
      development.
    </p>
  </mat-card-content>
  <mat-card-actions class="author">
    <a target="tab" mat-button href="https:www.angularbootcamp.com">
      Angular Boot Camp
    </a>
    <a target="tab" mat-button href="https:www.oasisdigital.com">
      Oasis Digital Solutions Inc.
    </a>
    <a
      target="tab"
      mat-button
      href="https://twitter.com/TheEvergreenDev?ref_src=twsrc%5Etfw"
    >
      <img width="32px" src="assets/Twitter_Logo_Blue.svg" /> Follow
      @TheEvergreenDev
    </a>
  </mat-card-actions>
</mat-card>
