@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  overflow: hidden;
}

.mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: rgba(0,0,0,0);
}

canvas {
  position: fixed;
  right: 0px;
}